.details-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 3em 0
}

.details-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-image > img {
    width: 300px;
    height: auto;
    margin: 0 1em 0 1em 
}

.details {
    display: flex;
    flex-direction: column;
    text-align: unset;
    margin: 0 1em 0 1em;
}

.ingredient-container {
    display: flex;
    flex-direction: row;
}

.ingredient-container > div {
    padding: 0 1em 0 1em;
}

p {
    margin-bottom: 10px;
    margin-top: 10px;
}

table {
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
    border-radius: 10px;
}

th {
    background-color: #AAAAAA;
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 400px) {
    .details-container {
        display: flex;
        flex-direction: column;
    }

    .details-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ingredient-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}    